<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.BusinessHelper.NoActionBar"
        tools:targetApi="31">
        <activity
            android:name=".Profit"
            android:exported="false" />
        <activity
            android:name=".SalesList"
            android:exported="false" />
        <activity
            android:name=".AddToCart"
            android:exported="false" />
        <activity
            android:name=".SalesCart"
            android:exported="false" />
        <activity
            android:name=".SalesMain"
            android:exported="false" />
        <activity
            android:name=".ExpensesDetails"
            android:exported="false" />
        <activity
            android:name=".EditExpenses"
            android:exported="false" />
        <activity
            android:name=".AddExpenses"
            android:exported="false" />
        <activity
            android:name=".Expenses"
            android:exported="false" />
        <activity
            android:name=".ProductDetails"
            android:exported="false" />
        <activity
            android:name=".EditProduct"
            android:exported="false" />
        <activity
            android:name=".Activity.AddProduct"
            android:exported="false" />
        <activity
            android:name=".Activity.Start_menu"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Activity.Products"
            android:exported="false" />
        <activity
            android:name=".Activity.Landing"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>